<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Zaloguj sie byczq</title>
     <style>
          body {
               height: 100vh;
               width: 100vw;
               margin: 0;
               display: flex;
               justify-content: center;
               align-items: center;
          }
          .content {
               text-align: center;
          }

     </style>
</head>
<body>
     <div class="content">
          <h1>Znajdź swoje PIWO</h1>
          <form method="POST" action="/logged">
               <label for="password">Klucz dostępu do P I W A</label><br>
               <input type="password" id="password" name="password" required><br><br>
               <input type="submit" value="Zaloguj">
          </form>
     </div>
</body>
</html>
