<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>BRAK PIWA</title>
     <style>
          body {
               height: 100vh;
               width: 100vw;
               margin: 0;
               display: flex;
               justify-content: center;
               align-items: center;
          }
          .content {
               text-align: center;
          }
     </style>
</head>
<body>
     <div class="content">
          <h1>404</h1>
          <h2>Brak dostępu do P I W A :(</h2>
          <p>To jest chyba zły adres :0</p>
          <img src="https://ih1.redbubble.net/image.4417710886.0211/ur,mouse_pad_small_flatlay,square,600x600.jpg" alt="brak_piwa">
     </div>
</body>
</html>